{% extends "base.html" %}

{% block content %}
    
<div class="container" style = "padding-top:18px">
  <div class="row">
    <div class="col-md-3">
      <div id="toc">
      </div><!--/.well -->
    </div><!--/span-->
    <div class="col-md-9">
          <h2>豆瓣高分图书</h2>
          <p>
          阅读是一件私人的事，但涉足一个新的领域时，他人的推荐会有很大帮助。该书单所有图书皆来至于豆瓣评价数1000以上，且评分超过9分的图书。
          </p>
          <h3>文学</h3>
          <p class="well"> <a href="{%url "book_recommend_pages" "小说"%}">小说</a> | 诗歌</p>

          <br>
          <h3>心理学</h3>
          <span class="note"><strong>心理学理论</strong></span>

          <span class="note">
          进化心理学 | 社会心理学
          </span>
          <br /><br />
          
          <h2>名人推荐书单</h2>
          <p class="well">罗辑思维 | 李开复</p>
          <br /><br />
          
          <h2>专题推荐</h2>
          <p class="well">英语书单 | 少儿书单</p>
          <br />
        
    </div><!--/span-->
  </div><!--/row-->

</div><!--/.fluid-container-->

{% endblock %}

