{% extends "base.html" %}

{% block content %}
<!-- Content Row -->
<div class="row">
      <!-- Sidebar Column -->
      <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#tag1">
                        文学
                </a>
                </h4>
            </div>
            <div id="tag1" class="panel-collapse collapse">
                <div class="panel-body">
                <a href="">小说</a> |
                <a href="">外国文学</a> |
                <a href="">随笔</a>
                </div>
            </div>
        </div>
         <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#tag2">
                        流行
                </a>
                </h4>
            </div>
            <div id="tag2" class="panel-collapse collapse">
                <div class="panel-body">
                <a href="">漫画</a> |
                <a href="">绘本</a> |
                <a href="">推理</a>
                </div>
            </div>
        </div>
      </div>
      <!-- Content Column -->
      <div class="col-md-9">        
        <!-- Blog Post Row -->
        {%for book in books%}
        <div class="row">
            <div class="col-md-3">
                <a href="blog-post.html">
                    <img class="img-responsive img-hover" src={{book.imgUrl}} style = "height: auto; width: 150px" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <h3>
                    <a href="blog-post.html">{{book.title}}</a>
                </h3>
                <p>评价数：{{book.votes}}</p>
                <p>评分：{{book.rates}}</p>
                <p>简介：Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <hr>
        {%endfor%}
        <!-- /.row -->
      </div>
</div>

<hr>

{% endblock %}
