{% extends "base.html" %}

{% block nav %}
<li id="index" class=""><a href="/" hidefocus="hidefocus">首页</a></li>
<li id="douban" class="crt"><a href="{%url "douban" "小说"%}">豆瓣高分图书</a></li>
<li id="famous" class=""><a href="{%url "famous" "名人推荐"%}">名人推荐书单</a></li>
<li id="subjects" class=""><a href="{%url "subjects" "主题书单"%}">主题书单</a></li>
<li id="foreign" class=""><a href="{%url "foreign" "外文书单"%}">外文书单</a></li>
{% endblock %}

{% block content %}
<div class="g-bd2 g-bd2-1">
    <div class="g-mn">
        <div class="g-mnc">
            <div class="m-category">
                <div class="u-nav-crumbs">
                    豆瓣高分 <span class="sep">&gt;</span> <em>{{ url_tag }}</em>
                </div>

                <div class="u-nav-tab j-tab">
                    <li class="itm ">
                        <a data-href="/list/1-1-1" class="utd" hidefocus="hidefocus">评分</a>
                    </li>
                    <div class="wrap">
                        <a href=""><span>9.5分以上</span></a>,
                        <a href="" hidefocus="hidefocus"><span>9.0~9.4</span></a>,
                        <a href="" hidefocus="hidefocus"><span>8.5~8.9</span></a>,
                        <a href="" hidefocus="hidefocus"><span>8.0~8.4</span></a> 

                    </div>
                </div>

                <div class="cnt">
                    <div class="u-colslist1 j-categoryarea">
                        <ul class="j-list">
                            {%for book in books%}

                            <li class="u-bookitm1 j-bookitm" data-id="bed389af8c8d460c9a4fc896757b934d">
                                <div class="book" data-id="bed389af8c8d460c9a4fc896757b934d">
                                    <div class="cover">
                                        <a href="/book/90434" hidefocus="hidefocus" target="_blank">
                                            <img src={{book.imgUrl}} alt={{book.title}} ></a>
                                    </div>
                                </div>

                                <div class="info">
                                    <div class="wrap">
                                        <a href="/book/90434" class="title" hidefocus="hidefocus" target="_blank">{{book.title}}</a>

                                        <div class="u-stargrade" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                                            <em class="score" itemprop="ratingValue"> {{book.rates}}</em>                                                
                                            <span class="num" itemprop="ratingValue">( {{book.votes}} 个评分)</span>
                                        </div>

                                        <div class="u-author">
                                            <span>{{book.author}}</span>
                                        </div>

                                        <p class="desc">李寻欢、楚留香、陆小凤、叶开、萧十一郎……哪个是你的最爱？</p>
                                    </div>
                                </div>
                            </li>
                            {%endfor%}
                        </ul>
                    </div>
                </div><!-- u-page -->

                <div class="m-page j-pager">
                    <div class="u-page">
                        {% if books.has_previous %}
                            <a href="?page={{ books.previous_page_number }}">上一页</a>
                        {% else %}
                            <a class="init" hidefocus="hidefocus">上一页</a>
                        {% endif %}
                        {% if books.has_next %}
                            <a href="?page={{ books.next_page_number }}">下一页</a>
                        {% else %}
                            <a class="init" hidefocus="hidefocus">下一页</a>
                        {% endif %}
                        
                        <div class="u-page-go">
                            <span>
                                 {{ books.number }} / {{ books.paginator.num_pages }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--导航-->

    <div class="g-sd">
        <div class="m-category-nav">
            <ul class="w-list">
                <li class="all">
                    <div class="wrap">
                        <a href="/list/1-1" class="back"><span class="ttl">豆瓣高分</span><em class="num">60200</em></a>
                    </div>
                </li>
                
                <li class="level1">
                    <ul class="level2">
                        {%for tag in tagList%}
                        <li>
                            <div class="wrap {%if url_tag == tag.name%}checked{%endif%}">
                                <a href="{%url "douban" tag.name%}" hidefocus="hidefocus"><span>{{tag.name}}</span> <em class="num">10168</em></a>
                            </div>
                        </li>
                        {%endfor%}                               
                    </ul>
                </li>
            </ul>
        </div>

        <div class="m-category-ad j-category-ad">
            <div class="w-ttl3">
                <h3>特约推荐</h3>
            </div>

            <div class="slider">
                <div class="wrap j-slide-box">
                    <div class="u-aimg" unselectable="on" onselectstart="return false;">
                        <ul>
                            <li><a href="/special/9362" hidefocus="hidefocus" target="_blank"><img src='http://image.read.duokan.com/mfsv2/download/s010/p01KZtSCg3Lo/RPdQsxeuxba1e8.jpg' alt="追风筝的人"></a></li>

                            <li><a href="/special/9559" hidefocus="hidefocus" target="_blank"><img src='http://image.read.duokan.com/mfsv2/download/s010/p010KctJzBa0/6QS996Eq8DkfMg.jpg' alt="教父"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--导航 end-->
</div>
{% endblock %}
