<footer class="g-ft">
    <div class="wrap">
        <div class="m-corp">
            <p><a href="/c/intro">关于我们</a><span class="u-sep">|</span><a href="/c/contact">联系我们</a><span class="u-sep">|</span><a href="/c/corp">商务合作</a></p>

            <p>Copyright©duokan.com　<a href="http://www.miibeian.gov.cn/" target="_blank" hidefocus="hidefocus">京ICP备10047083号</a>　<a href="http://www.gapp.gov.cn/" target="_blank" hidefocus="hidefocus">电复证字第01D010号</a></p>
        </div>

        <div class="m-cprt">
            <p><em>意见反馈</em></p><a class="mail" href="mailto:readerfeedback@duokan.com?subject=%E4%B9%A6%E5%9F%8E%E9%97%AE%E9%A2%98%E5%8F%8D%E9%A6%88" hidefocus="hidefocus">readerfeedback@duokan.com</a>
        </div>
    </div>
</footer>