<script src="/static/js/jquery-1.8.3.min.js"></script>
<script src="/static/js/jquery-ui-1.9.1.custom.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.tocify.js"></script>

<script>
    $(function() {

        var toc = $("#toc").tocify({
          selectors: "h2,h3,h4,h5",
          theme: "bootstrap3",
          context: ".col-md-9"
        }).data("toc-tocify");
        
        prettyPrint();
        $(".optionName").popover({ trigger: "hover" });

    });
</script>