<head>
    <title>{% block title %}只读{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="author" content="duokan">
    <meta name="keywords" content="豆瓣高分图书，书单推荐">
    <meta name="description" content="豆瓣高分图书">
    
    <link type="text/css" rel="stylesheet" href="/static/css/global.css">
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <link type="text/css" rel="stylesheet" href="/static/css/cat.css">
    
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>