{% extends "base.html" %}

{% block content %}
<!-- Content Row -->
<div class="row">
      <!-- Sidebar Column -->
      <div class="col-md-3">
          <div class="list-group">
              <a href="kindle.html" class="list-group-item active">我的Kindle便签</a>
              <a href="notes.html" class="list-group-item">Kindle便签转换</a>
          </div>
      </div>
      <!-- Content Column -->
      <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="/demo/bootstrap3-plugin-collapse-method.htm#collapseThree">
                    Book1
                </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                笔记1
                </div>
                <div class="panel-body">
                笔记2
                </div>
                <div class="panel-body">
                笔记3
                </div>
            </div>
        </div>
      </div>
</div>

<hr>

{% endblock %}
