{% extends "base.html" %}

{% block content %}

<!-- /.row -->

<div class="row">
      <!-- Sidebar Column -->
      <div class="col-md-2">
          <div class="list-group">
              <a href="kindle.html" class="list-group-item active">Kindle便签</a>
              <a href="notes.html" class="list-group-item">我的笔记</a>
              <a href="services.html" class="list-group-item">Services</a>
              <a href="contact.html" class="list-group-item">Contact</a>
              <a href="blog-post.html" class="list-group-item">Blog Post</a>
              <a href="full-width.html" class="list-group-item">Full Width Page</a>
              <a href="sidebar.html" class="list-group-item">Sidebar Page</a>
          </div>
      </div>
      <!-- Content Column -->
      <div class="col-md-10">
          <h2>Section Heading</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, et temporibus, facere perferendis veniam beatae non debitis, numquam blanditiis necessitatibus vel mollitia dolorum laudantium, voluptate dolores iure maxime ducimus fugit.</p>
      </div>
</div>

<hr>

{% endblock %}
