<header class="g-hd">
    <div class="m-header">
        <div class="wrap">
            <div class="m-logo">
                <a href="/" title="只读" hidefocus="hidefocus">只读</a>
            </div>
        </div>

        <nav class="m-nav">
            <ul class="f-cb" itemprop="breadcrumb">
                <li id="index" class=""><a href="/" hidefocus="hidefocus">首页</a></li>

                <li id="rank" class="crt"><a href="{%url "book_recommend_pages" "豆瓣高分"%}">豆瓣高分图书</a></li>

                <li id="review" class=""><a href="{%url "book_recommend_pages" "名人推荐"%}">名人推荐书单</a></li>

                <li id="bargain" class=""><a href="{%url "book_recommend_pages" "主题书单"%}">主题书单</a></li>

                <li id="category" class=""><a href="{%url "book_recommend_pages" "外文书单"%}">外文书单</a></li>
            </ul>
        </nav>
    </div>
</header>